<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkIT</title>
    <link rel="stylesheet" href="../style_global/style.scss">
    <link rel="shortcut icon" href="../assets/images/icon.png" type="image/png">
</head>

<body class="page-searching-applicants">
    <div class="wrapper-empl d-flex">
        <!-- Sidebar  -->
        <nav class="sidebar-empl">
            <div class="sidebar-empl__wrapper sticky-top">
                <div class="sidebar-empl__header">
                    <h3 class="py-4">Меню</h3>
                </div>
                <ul class=" sidebar-empl__list list-unstyled components flex-md justify-content-md-center">
                    <li>
                        <a href="../index.html"><i class="bi bi-house-door pe-2"></i><span
                                class="sidebar-empl__item">Главная</span></a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_create-resume"> <i
                                class="bi bi-pencil-square pe-2"></i><span class="sidebar-empl__item"> Создать
                                Резюме</span></a>
                    </li>
                    <li>
                        <a href="./news.html"><i class="bi bi-newspaper pe-2"></i><span
                                class="sidebar-empl__item">Новости</span></a>
                    </li>
                    <li>
                        <a href="./about.html"><i class="bi bi-person pe-2"></i> <span class="sidebar-empl__item">
                                О Нас</span></a>
                    </li>
                    <li>
                        <a href="./contacts.html"><i class="bi bi-envelope pe-2"></i> <span
                                class="sidebar-empl__item">Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Modal -->
        <div class="modal fade" id="modal_create-resume" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <img class="nav__logo-img" src="../assets/images/logo.png" alt="logo">
                            <p class="subtitle__apllsearch">ТВОЯ ПЕРВАЯ РАБОТА В МИРЕ IT</p>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row form-reg m-4">
                            <div class="col-md-12">
                                <p class="header__second">Загрузите своё резюме, чтобы работодатели могли легко
                                    найти вас</p>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="applicant-resume"
                                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                    <button class="btn btn-outline-secondary btn-send-resume" type="button"
                                        id="inputGroupFileAddon04">Загрузить резюме</button>
                                </div>
                                <div class="mt-4">
                                    <a href="./create_resume.html" class="btn btn-primary" id="create-resume">Создать
                                        резюме</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content  -->
        <div id="content-appl">
            <nav class="navbar-empl create-resume__navbar navbar-expand-lg navbar-light bg-light d-flex ">
                <div class="navbar-create-resume">
                    <img class="nav__logo-img" src="../assets/images/logo.png" alt="logo">
                    <div class="create-resume_header-content">
                        <h3 class="header__second pt-md-3"> Соискателям</h3>
                        <p class="header__subtitle create-resume__subtitle">ТВОЯ ПЕРВАЯ РАБОТА В МИРЕ IT</p>
                    </div>
                </div>
            </nav>
            <!--Motto-->
            <div class="row m-1 p-1">
                <div class="col-12 d-flex justify-content-start">
                    <!--  <p class="header__subtitle subtitle__apllsearch">ТВОЯ СВЕЖАЯ КРОВЬ В МИРЕ IT</p>-->
                </div>
            </div>
            <!-- Searching form-->
            <div class="container searching">
                <div class="searching__form searching__form-applicants">
                    <div class="card w-100 mt-1 p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Поиск" id="inputSearchvacancy">
                            <div class="input-group-append"><button
                                    class="btn btn-primary btn__search btn__search-employermain"
                                    id="btnSearchvacancy"><i class="class=bi bi-search bi_employer"></i></button></div>
                        </div>
                        <div class="pt-3 w-100 searching__result">
                            <div id="cards-vacancy">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="filter-mobile" id="btnappfilter1">Фильтр</div>
                    <div class="row searching__filters searching__filters_shadow mt-1 filter-desktop">
                        <div class="filter">
                            <div class="filter-content">
                                <div class="filter__card">
                                    <div class="filter__card-title">Город</div>
                                    <input type="text" name="city" id="city" placeholder="Город" list="cities">
                                    <datalist id="cities">

                                    </datalist>
                                </div>
                                <div class=" filter__card">
                                    <div class="filter-vacancy__title">Уровень позиции</div>
                                    <div><input class="filter__card-input form-check-input level" id="junior"
                                            value="junior" type="radio" name="level" />
                                        <label class="filter__card-label" for="junior">Junior</label></div>
                                    <div><input class="filter__card-input form-check-input level" id="middle"
                                            value="middle" type="radio" name="level" />
                                        <label class="filter__card-label" for="middle">Middle</label></div>
                                    <div><input class="filter__card-input form-check-input level" id="senior"
                                            value="senior" type="radio" name="level" />
                                        <label class="filter__card-label" for="senior">Senior</label></div>
                                </div>
                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Опыт работы</div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="zero" id="zero" />
                                        <label class="filter__card-label " for="zero"> Менее года</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="small" id="small" />
                                        <label class="filter__card-label " for="small"> От 1 года до 3 лет</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="medium" id="medium" />
                                        <label class="filter__card-label " for="medium"> От 3 до 6 лет</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="large" id="large" />
                                        <label class="filter__card-label " for="large"> Более 6 лет</label></div>
                                </div>
                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Уровень дохода $</div>
                                    <div class="filter__card-salary">
                                        <input class="filter-vacancy__input-salary" type="number" placeholder="From"
                                            id="minSalary" />
                                        <input class="filter-vacancy__input-salary" type="number" placeholder="To"
                                            id="maxSalary" /></div>
                                    <div>
                                        <input class="filter__card-input form-check-input" type="checkbox" name="salary"
                                            id="salary" />
                                        <label class="filter__card-label" for="salary">Указан доход</label></div>
                                </div>
                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Формат работы</div>
                                    <div><input class="filter__card-input form-check-input format" id="distant"
                                            value="удаленный" type="radio" name="level" />
                                        <label class="filter__card-label">Удаленный</label></div>
                                    <div><input class="filter__card-input form-check-input format" id="office"
                                            value="офис" type="radio" name="level" />
                                        <label class="filter__card-label">Офис</label></div>
                                    <div><input class="filter__card-input form-check-input format" id="hybrid"
                                            value="гибрид" type="radio" name="level" />
                                        <label class="filter__card-label">Гибрид</label></div>
                                </div>
                                <div class="filter-vacancy__btns">
                                    <div class="filter-vacancy__change" id="btnFilter">Применить</div>
                                    <div class="filter-vacancy__throwoff" id="btnReboot">Сбросить</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Searching Form end-->
            <footer class="bg-light text-center text-lg-start">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Footer text</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                                molestias.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Footer text</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                                molestias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
            </footer>
        </div>
    </div>
    <script type="module" src="../js/search_vacancies.js"></script>

</body>

</html>